<?xml version="1.0"?>
<robot name="up_camera">

<link name="world"></link>

  <link name="up_camera_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="2 2 2"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
    <box size="2 2 2"/>
      </geometry>
      <!--material name="red"/-->
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0" />
    </inertial>
  </link>
  
    <joint name="up_camera_joint" type="fixed">
        <parent link="world"/>
        <child link="up_camera_link"/>
        <origin xyz="0 0 0" rpy="0 1.5707 0"/>
    </joint>
    
    
    <!--link name="camera_link_optical"></link-->
    
    <gazebo reference="up_camera_link">
  <material>Gazebo/blue</material>
  
    <sensor type="camera" name="up_camera">
      <update_rate>30</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>2000</width>
          <height>2000</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>up_camera</cameraName>
        <imageTopicName>up_camera</imageTopicName>
        <cameraInfoTopicName>up_camera_info</cameraInfoTopicName>
        <frameName>up_camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
  
</robot>
